//core
@import "core/variables";
//typography
@import "components/typography";
//buttons
@import "components/buttons";
//header
@import "layout/header";
//main
@import "layout/main";
//cart
@import "layout/cart";

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
