//core
@import "core/variables";
//typography
@import "components/typography";
//header
@import "layout/header";
//main
@import "layout/main";
//cart
@import "layout/cart";

html {
  background: $dusty-blue;
  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
  height: 100%;
  //overflow: hidden;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
