<div class="page__cart">
  <h4 class="cart__title">
    Tu cesta (<span class="cart__title-num">0</span> productos)
  </h4>
  <div class="cart__form">
    <div class="cart__articles">
      <!-- cart content -->
    </div>
    <div class="cart__promotional">
      <button class="btn cart__btn-promotional">
        <h5 class="cart__promotional-title">Código promocional</h5>
        <img
          class="cart__promotional-img"
          src="assets/images/icons/down.svg"
          alt="user"
        />
      </button>
    </div>
    <div class="cart__subtotal">
      <h5 class="cart__subtotal-title">Subtotal</h5>
      <p class="cart__subtotal-sum">
        <span class="cart__subtotal-sum-number">150,90</span>€
      </p>
    </div>
    <div class="cart__total">
      <h5 class="cart__total-title">Total</h5>
      <p class="cart__total-sum">
        <span class="cart__total-sum-number">134,70</span>€
      </p>
    </div>
    <button type="submit" class="btn cart__submit-btn">
      <h5 class="cart__submit-btn-title">Comprar</h5>
    </button>
  </div>
</div>
