<header class="page__header">
  <button class="btn header__menu-btn">
    <div class="header__menu">Menú</div>
  </button>
  <div class="header__icons">
    <button class="btn header__btn-user ">
      <img
        src="assets/images/icons/user.svg"
        alt="user"
        class="header__icon-user"
      />
    </button>
    <button class="btn header__btn-bag">
      <img
        src="assets/images/icons/bag.svg"
        alt="user"
        class="header__icon-bag"
      />
    </button>
  </div>
</header>
