@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");

.cart__item-title,
.cart__subtotal-title,
.cart__subtotal-title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
