//cart
.page__cart {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: -100vw;
  right: 0;
  background: $white;
  z-index: 5;
  transition: all 0.5s;
  @media all and (min-width: 768px) {
    width: 448px;
    left: auto;
  }
}
.slide-cart {
  opacity: 1;
  right: 0;
}
.cart__title {
  margin: 70px 0 0;
  padding: 20px 0px 0px 15px;
  @include cartTitle();
  @media all and (min-width: 768px) {
    font-size: 18px;
    margin-top: 77px;
    padding-top: 11px;
    padding-left: 30px;
  }
}
.cart__articles-delivery {
  padding-top: 17px;
  padding-bottom: 11px;
  border-bottom: 2px solid $black;
  margin: 0;
  @include cartHeaderTitles();
  @media all and (min-width: 768px) {
    padding-top: 22px;
  }
}
.cart__form {
  height: calc(100% - 109px);
  overflow: auto;
  padding: 0 15px;
  @media all and (min-width: 768px) {
    height: calc(100% - 107px);
    padding: 0 30px;
  }
}
.cart__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cart__item {
  padding-top: 21px;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey;
}
.cart__item-wrapper {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-areas:
    "img  sup"
    "img  foot";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 85px 1fr;
}
.cart__list .cart__item:last-child {
  border-bottom: none;
}
.cart__item-img-box {
  grid-area: img;
  width: 70px;
  height: 70px;
  display: grid;
  align-items: center;
}
.cart__item-img {
  width: 70px;
}
.cart__item-title {
  width: 166px;
  grid-area: sup;
  padding-bottom: 8px;
  @include cartItemName();
}
.cart__item-size {
  grid-area: foot;
  align-self: center;
  // font-size: 12px;
  @include cartItemSize();
  margin: 0;
}
.cart__item-btn-remove {
  grid-area: sup;
  justify-self: end;
  align-self: start;
}
.cart__item-btn-remove-text {
  font-size: 14px;
  display: none;
  @media all and (min-width: 768px) {
    display: inline-block;
  }
}
.cart__item-quantity-controls {
  grid-area: foot;
  justify-self: center;
  align-self: center;
}
.cart__item-price {
  grid-area: foot;
  justify-self: end;
  align-self: center;
  margin: 0;
  @include cartItemPrice();
}
.cart__quantity-btn,
.cart__item-quantity {
  width: 30px;
  height: 30px;
}
.cart__item-quantity-number {
  @include itemQuantity();
}
.cart__item-quantity,
.cart__quantity-btn {
  border: 2px solid $dark;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__item-quantity {
  border-right: 0px;
  border-left: 0px;
  width: 26px;
}
.cart__item-quantity-controls {
  display: flex;
}
.cart__quantity-icon {
  font-size: 9px;
  color: $dusty-blue;
}
.cart__promotional-title,
.cart__total-title,
.cart__subtotal-sum,
.cart__total-sum {
  margin: 0;
  font-size: 14px;
}
.cart__btn-promotional,
.cart__subtotal,
.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $grey;
}
.cart__btn-promotional {
  width: 100%;
}
.cart__promotional-img {
  width: 10px;
}
.cart__promotional-title,
.cart__total-title {
  padding: 17px 0;
}
.cart__subtotal-title {
  padding: 14px 0 10px 0;
}
.cart__total-sum {
  font-weight: 900;
}
.cart__submit-btn {
  width: 100%;
  padding: 17px 15px;
  margin-bottom: 15px;
  background: $dark;
  @media all and (min-width: 768px) {
    margin-bottom: 30px;
  }
}
.cart__submit-btn-title {
  margin: 0;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}
.cart__item-title,
.cart__subtotal-title,
.cart__subtotal-title {
  margin: 0;
}
